*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

strong, p, em, h1, h2, h3, h4, h5, h6, a, li {

  text-rendering: optimizeSpeed !important;
  -webkit-font-smoothing: antialiased !important;
}

.content {
  
  width: 100vw;
  height: 64px;
  display: flex;
}

.container {

  width: 100%;
  max-width: 100vw;
  height: auto;
  max-height: 100vh;
  display: flex;
  background: #eee;
  margin: 2rem auto;
  position: relative;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.content .header {
  
  width: 100vw;
  height: 64px;
  background: #4a90e2;
  display: flex;
  justify-content: space-between;
}

div.content .header .logo .profile  {

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

div.content .header .logo  img {
  
  width: 120px;
  height: 23px;
  top: 21px;
  left: 42px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  position: absolute;
  flex: 1 0 auto;
}

div.content .header .logo:hover {
  
  cursor: pointer;
}

div.content .header .profile span strong {

  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
  font-size: 19px;
  color: #fff;
  display: flex;
  text-align: center;
  vertical-align: middle;
  right: 6rem;
  top: 21px;
  position: relative;
}

div.content .header .profile span strong:hover {
  
  cursor: pointer;
  color: rgba(247, 244, 244, 0.959);
  text-shadow: 0.04rem 0.04rem;
}

 div.content .header .profile  img {
  
  width: 32px;
  height: 32px;
  top: 15px;
  right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  flex: 1 0 auto;
}

div.content .header .profile  img:hover {
  
  cursor: pointer;
  background: #f2f2f2 ;
  box-shadow: 0 0 0.3rem 0.4rem rgba(247, 244, 244, 0.959);
  border-radius: 50%;
}


div.container .post {
  
  width: 70vw;
  height: 25vh;
  background: #fff;
  position: absolute;
  margin: 5rem auto;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}








/*Header on smaller screens*/
@media only screen and (max-width:400px) {


div.content .header .logo  img {
  
  width: 110px;
  height: 23px;
  top: 21px;
  left: 5px;
  padding-left: 0.8rem;
}

div.content .header .profile span strong {

  display: none;
}


 div.content .header .profile  img {
  
  width: 32px;
  height: 32px;
  top: 18px;
  right: 1rem;
 }

 div.container .post {
  
  width: 100vw;
}
}