@media  screen and (device-width:568px), screen and (device-width:530px) {

  #app .content .container .postlist {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    flex: 1 0 auto;
    top: 18rem;
    position: relative !important;
  }

  div.content .header .profile span strong {
    
    display: none;
  }

  p {

    width: 100%;
    max-width: 100vw;
    margin: 0;
    border: 0;
  }


div.post .actions  {

  top: 1rem;
  left: 12rem;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding: 0;
  position: relative !important;
  width: 680px;
  height: 8px;
  flex: 1 0 auto;
}

  div nav.actions ul li {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative !important;
    padding: 0;
    flex: 1 0 auto;
    top: -2rem;
    max-width: 100vw;
  }


  div.post .actions img {

    border-top: 1px solid #eee;
    padding: 0;
    position: absolute !important;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: 2rem;
  }


  div.post .actions li:nth-child(1) {

    margin-left: 1rem;
    padding: 0;
    bottom: 0;
    left: 4rem;
    top: -1.5rem;
    text-align: center;
  }

  div.post .actions li:nth-child(2) {

    margin-left: 1rem;
    padding: 0;
    bottom: 0;
    left: 4rem;
    top: -1.5rem;
    text-align: center;
  }

  div.post .actions li:nth-child(3) {

    margin-left: 1rem;
    padding: 0;
    bottom: 0;
    top: -1.5rem;
    left: 4rem;
    text-align: center;
  }
  
  div.post .actions .like-icon:nth-child(1) {

    margin-left: 1rem;
    padding: 0;
    bottom: 0;
    top: -1.5rem;
    left: -1.5rem;
    width: 48px;
  }


  div.post .actions .comment-icon:nth-child(1) {

    margin-left: 1rem;
    padding: 0;
    bottom: 0;
    top: -1.5rem;
    left: -0.8rem;
    width: 48px;
  }


  div.post .actions .share-icon:nth-child(1) {

    margin-left: 1rem;
    padding: 0;
    bottom: 0;
    top: -1.5rem;
    left: -0.6rem;
    width: 48px;
  }

  div.comments .content-post p {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    height: auto;
    max-height: auto;
    left: 4rem;
    flex: 1 0 auto;
    position: relative;
    top: 0;
    text-align: center;
    vertical-align: middle;
  }

  div.post .post-content p {

    top: 3.5rem;
    left: 1rem;
    padding: 1rem;
  }

  div.post .post-content p:first-child {
  
    margin: 0;
  }

  div.comments .content-post p:first-child {
  
    margin: 0;
  }

   .name-comment  {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    left: -5rem;
    position: absolute;
    top: 0;
    font-size: 10px;
  }

  div.post .post-content .name-comment:first-child {
  
    margin: 0;
  }


  div.comments .post-comment {
 
    width: 800px;
    max-width: 80vw;
    height: 10vh;
    background: #8d949e36;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    top: 13rem;
    left: 4rem;
    border-radius: 3.5rem 3.5rem  3.5rem 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  
  div.post-comment nav ul li {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    top: 2rem;
    margin: 0;
    left: -8rem;
    position: relative;
    color: #385898;
    font-weight: lighter;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  div.post-comment nav ul li:nth-child(1) {
   
    top: 3rem;
    left: -10rem;
    margin-left: 0;
    padding: 0.2rem;
    
  }

  div.post-comment nav ul li:nth-child(2) {
   
    top: 2rem;
    left: -6rem;
    margin-left: 0;
  }
 

  div.answer input {
 
    width: 800px;
    max-width: 80vw;
    height: 10vh;
    background: #8d949e36;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    top: 18rem;
    left: 4.5rem;
    border-radius: 3.5rem 3.5rem  3.5rem 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 1rem;
    outline: none;
    border: #929090 solid 1px;
  }
  
  div.answer .icons-input li:nth-child(1) {

    margin-left: 4rem;
    padding: 0;
    bottom: 0;
    top: 0.7rem;
    left: 12rem;
  }
  
  div.answer .icons-input li:nth-child(2) {

    margin-left: 1.8rem;
    padding: 0;
    bottom: 0;
    top: 0.6rem;
    left: 16rem;
  }

  div.answer .icons-input li:nth-child(3) {

    margin-left: 2rem;
    padding: 0;
    bottom: 0;
    top: 0.6rem;
    left: 18rem;
  }
  
  div.answer .icons-input nav ul li {
  
    width: 2px;
    height: 2px;
    top: -1.2rem;
    margin-top: 6rem;
    right: 1.2rem;
    left: -3rem;
    padding: 0.8rem;
    position: absolute !important;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
  }

  div.answer input::placeholder {

    font-size: 14px;
  }

  div.content nav ul li {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;

  }

  .edit {

    top: -1.5rem;
    right: 4rem;
    position: absolute !important;
    cursor: pointer;
  }

}